aiofiles
aiohttp
apscheduler
asyncio
bing-image-downloader
bs4
deepai
edge-tts
ffmpeg-python
future
gitpython
google-api-python-client
gpytranslate
gTTS
heroku3
httpx[http2]
kurigram>=2.2.17
lexica-api
motor
nekosbest
numpy
opencv-python
Pillow
psutil
ntgcalls>=2.0.6
pycryptodome
pydub
pyfiglet
pyshorteners
python-dotenv
python-whois
PyYAML
qrcode
requests
speedtest-cli
SpeechRecognition
spotipy
telegraph
pytgcrypto
unidecode
wget
# === Core Engine (Always Latest) ===
yt-dlp
git+https://github.com/CertifiedCoders/youtube-search-python
